
@import "tailwindcss";
@plugin "daisyui";

/* MINIMAL THEME */
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "flowbite/src/themes/minimal";

 */


* {

}

body {
  /* Montserrat para el cuerpo y como fuente base */
  font-family: 'Montserrat', sans-serif; 
}
/* Ejemplo para usar Cormorant en los títulos */
h1, h2, h3, .font-display {
  /* Cormorant Garamond para el estilo premium */
  font-family: 'Cormorant Upright', serif;
}

@theme {
  --color-text: #2d3748;          /* Carbón */
  --color-background: #f7fafc;    /* Gris hielo */
  --color-primary: #744c3e;       /* Chocolate francés */
  --color-secondary: #c9a689;     /* Arena */
  --color-accent: #d4a5a5;        /* Rosa viejo */
  --color-success: #8fa998;       /* Salvia */
  --color-error: #b85450;         /* Burdeos suave */
  --color-border: #e8e3df;        /* Pergamino */
}

/*Colors Daisy*/
:root {
  --color-base-100: #f7fafc;      /* background */
  --color-base-200: #e8e3df;      /* border */
  --color-base-300: #744c3e;      /* primary */
  --color-base-content: #2d3748;  /* text */
}

@layer components {
  .btn-primary {
    @apply text-background bg-primary px-4 py-2 hover:bg-success  whitespace-nowrap font-semibold rounded-lg transition-all transform hover:scale-105 shadow-xl;
  }
  .btn-secondary {
    @apply  text-background px-4 py-2 rounded-lg hover:opacity-90 whitespace-nowrap transition-all font-medium;
  }
}

.spinner {
    width: 60px; 
    height: 60px;
    margin: 0 auto 1rem; 
    
    /* Referencia a la imagen */
    background-image: url('./assets/images/Margarita.png'); 
    background-size: contain; 
    /* background-repeat: no-repeat; */
    background-position: center;
}


@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideUp {
  from { 
    opacity: 0;
    transform: translateY(20px);
  }
  to { 
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}

.animate-slideUp {
  animation: slideUp 0.3s ease-out;
}